<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="picka.js"></script>
    <script src="app.js"></script>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="picka.css">
  </head>
  <body ng-controller="PickaDemoCtrl as vm">
    <div class="container">
      <h1>Picka</h1>
      
      <dl class="_dl-horizontal">
        <dt>Start</dt>
        <dd><picka ng-model="vm.start" ng-change="vm.bar()"></picka></dd>
        <dt>End</dt>
        <dd><picka ng-model="vm.end" format="%D . %M . %Y %t %c" ng-change="vm.bar()"></picka></dd>
      </dl>
      
      <br/>
      
      <pre>
        Start: {{vm.start.toLocaleString()}} ({{start}})
        End: {{vm.end.toLocaleString()}} ({{end}})
      </pre>
      
      <toogle ng-change="vm.bar()" ng-model="vm.foo" />
    </div>
  </body>
</html>
